In [1]:
import numpy as np
import pandas as pd

## **Task 1**

In [2]:
data = {'ID':['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001','A004','A004','A005'],
        'Project':['Project 1','Project 2','Project 3','Project 4','Project 5','Project 6','Project 7','Project 8','Project 9',
                   'Project 10','Project 11','Project 12','Project 13','Project 14'],
        'Cost':[1002000,2000000,4500000,5500000,np.NAN,680000,400000,350000,np.NAN,300000,2000000,1000000,3000000,200000],
        'Status':['Finished','Ongoing','Finished','Ongoing','Finished','Failed','Finished','Failed','Ongoing','Finished','Failed','Ongoing',
                  'Finished','Finished']}
project_dataframe = pd.DataFrame(data)
print(project_dataframe)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [3]:
ed = {'ID':['A001','A002','A003','A004','A005'],
      'Name':['John Alter','Alice Luxumberg','Tom Subestine','Nina Adgra','Amy Johny'],
      'Gender':['M','F','M','F','F'],
      'City':['Paris','London','Berlin','Newyork','Madrid'],
      'Age':[25,27,29,31,30]}
employee_dataframe = pd.DataFrame(ed)
print(employee_dataframe)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Subestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [4]:
sd = {'ID':['A001','A002','A003','A004','A005'],
      'Designation Level':[2,2,3,2,3]}
seniority_dataframe = pd.DataFrame(sd)
print(seniority_dataframe)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [5]:
project_dataframe.to_csv('H:\Project Data Frame.csv',index = False)

In [6]:
employee_dataframe.to_csv('H:\Employee Data Frame.csv',index = False)

In [7]:
seniority_dataframe.to_csv('H:\Seniority Level Data Frame.csv',index = False)

In [8]:
project_dataframe = pd.read_csv('H:\Project Data Frame.csv')
print(project_dataframe)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [9]:
employee_dataframe = pd.read_csv('H:\Employee Data Frame.csv')
print(employee_dataframe)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Subestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [10]:
seniority_dataframe = pd.read_csv('H:\Seniority Level Data Frame.csv')
print(seniority_dataframe)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

## **Task 2**

In [11]:
# Filling missing values using a running average with a for loop.
costs = project_dataframe['Cost'].copy()
for i in range(len(costs)):
    if np.isnan(costs[i]):
        if i == 0:
            costs[i] = costs.mean()   # If the First value is Nan, replace it with the mean of the cost.
        else:
            running_average = costs[:i].mean()   # Calculating running average exculding current Nan value.
            costs[i] = running_average

project_dataframe['Cost'] = costs

# Saving the updated dataframe back to the CSV file.
project_dataframe.to_csv('H:\Project Data Frame.csv',index = False)

In [12]:
project_dataframe = pd.read_csv('H:\Project Data Frame.csv')
print(project_dataframe)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

## **Task 3**

In [13]:
# Splitting the 'Name' column into 'First Name' and 'Last Name'.
employee_dataframe[['First Name', 'Last Name']] = employee_dataframe['Name'].str.split(' ', expand=True)
employee_dataframe.drop('Name', axis=1, inplace=True)
print(employee_dataframe)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Subestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

## **Task 4**

In [14]:
print("Project DataFrame Columns: ", project_dataframe.columns)  # This is for my reference.
print("Employee DataFrame Columns: ", employee_dataframe.columns)
print("Seniority DataFrame Columns: ", seniority_dataframe.columns)

Project DataFrame Columns:  Index(['ID', 'Project', 'Cost', 'Status'], dtype='object')
Employee DataFrame Columns:  Index(['ID', 'Gender', 'City', 'Age', 'First Name', 'Last Name'], dtype='object')
Seniority DataFrame Columns:  Index(['ID', 'Designation Level'], dtype='object')

In [15]:
# Merging project_dataframe, employee_dataframe and seniority_dataframe with common column 'ID'.
Final = project_dataframe.merge(employee_dataframe, on='ID').merge(seniority_dataframe, on='ID')

# Saving the updated dataframe back to the CSV file.
Final.to_csv('H:\Final.csv',index = False)

In [16]:
Final = pd.read_csv('H:\Final.csv')
print(Final)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.0    Failed      M    Paris   25       John
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1       Alter                  2
2       Alter                  2
3   Luxumberg                  2
4   Luxumberg                  2
5   Subestine                  3
6   Subestine                  3
7   Subestine                  3
8       Adgra                  2
9       Adgra                  2
10      Adgra                  2
11      Johny                  3
12      Johny                  3
13      Johny                  3

## **Task 5**

In [17]:
# Using lambda function creating and assigning 5% bonus to who have finished the project.
Final['bonus'] = Final.apply(lambda row: 0.05* row['Cost'] if row['Status'] == 'Finished' else 0, axis = 1)
print(Final)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.0    Failed      M    Paris   25       John
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  2       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  2       0.0
5   Subestine                  3  225000.0
6   Subestine                  3       0.0
7   Subestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

## **Task 6**

In [18]:
# Demoting designation level by 1 for employees whose projects have status 'Failed'
Final.loc[Final['Status'] == 'Failed', 'Designation Level'] -= 1

# Deleting employees whose designation level is above 4
Final = Final[Final['Designation Level'] <= 4]
print(Final)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.0    Failed      M    Paris   25       John
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Subestine                  3  225000.0
6   Subestine                  2       0.0
7   Subestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

## **Task 7**

In [19]:
# Adding 'Mr' and 'Mrs' to 'First Name' column.
Final['First Name'] = Final.apply(lambda x: 'Mr. ' + x['First Name'] if x['Gender'] == 'M' else 'Mrs. ' + x['First Name'], axis=1)

# Dropping the 'Gender' column.
Final = Final.drop(columns=['Gender'])

In [20]:
print(Final)

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A001   Project 9  2210312.5   Ongoing    Paris   25    Mr. John
2   A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
5   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
6   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
7   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Subestine                  3  225000.0
6   Subestine                  2       0.0
7   Subestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3  162525.0
12      Johny                  3   20000.0
13      Johny                  3   10000.0

## **Task 8**

In [21]:
# Promoting designation level by 1 for the employees whose age is more than 29 years.
Final['Designation Level'] = Final.apply(lambda x: x['Designation Level'] + 1 if x['Age'] > 29 else x['Designation Level'], axis = 1)
print(Final)

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A001   Project 9  2210312.5   Ongoing    Paris   25    Mr. John
2   A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
5   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
6   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
7   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Subestine                  3  225000.0
6   Subestine                  2       0.0
7   Subestine                  3   15000.0
8       Adgra                  3       0.0
9       Adgra                  3       0.0
10      Adgra                  3  150000.0
11      Johny                  4  162525.0
12      Johny                  4   20000.0
13      Johny                  4   10000.0

## **Task 9**

In [22]:
# Creating a new dataframe and adding 'ID','First Name','Cost' using group by function.
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Renaming 'Cost' column to 'Total cost'.
TotalProjCost = TotalProjCost.rename(columns = {'Cost': 'Total cost'})
print(TotalProjCost)

     ID  First Name  Total cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

## **Task 10**

In [23]:
# Printing all the employee details whose city name contains the letter 'o' in it
emp_with_o_in_city = Final[Final['City'].str.contains('o', case = False)]
print(emp_with_o_in_city)

      ID     Project       Cost    Status     City  Age  First Name  \
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level     bonus
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
8       Adgra                  3       0.0
9       Adgra                  3       0.0
10      Adgra                  3  150000.0